* text=auto

*.cs text eol=lf
*.csproj text eol=lf
*.json text eol=lf
*.md text eol=lf
*.plist text eol=lf
*.ps1 text eol=lf
*.sh text eol=lf
*.swift text eol=lf
*.txt text eol=lf
*.xaml text eol=lf
*.xml text eol=lf
*.yml text eol=lf

*.ico binary
*.png binary
